/* Admin Sidebar container */
.admin-sidebar-container {
  width: 18%;
  min-height: 100vh;
  border-right: 2px solid;
}

.admin-sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1.5rem;
  padding-left: 20%;
  font-size: 15px;
}

/* NavLink styles */
.admin-sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border: 1px solid #d1d5db;
  border-right: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem 0 0 0.375rem;
  text-decoration: none;
  color: black;
}

.admin-sidebar-link:hover {
  background-color: #a3e5cf;
  border-color: black;
}

.admin-sidebar-link img {
  width: 1.25rem;
  height: 1.25rem;
}

.admin-sidebar-link p {
  display: none;
  color: black;
}

@media (min-width: 768px) {
  .admin-sidebar-link p {
    display: block;
  }
}
