/* Title container */
.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-products{
    font-size: 28px;
}

.add-product-button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #D1D5DB;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    color: black;
    text-decoration: none;
    background-color: #2fbd8e9d;
    border-color: black;
}

.add-product-button img {
    width: 1.25rem;
    height: 1.25rem;
}

.add-product-button p {
    margin: 0px;
}

/* Section title */
.section-title {
    margin-bottom: 0.5rem; /* mb-2 */
}
  
/* Container for the product list */
.product-list-container {
    display: flex;
    flex-direction: column; /* flex-col */
    gap: 0.5rem; /* gap-2 */
    border: 1px solid black;
    border-bottom: none;
}
  
/* Product list header */
.product-list-header {
    display: none; /* hidden */
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr; /* grid-cols-[1fr_3fr_1fr_1fr_1fr] */
    align-items: center; /* items-center */
    padding: 0.5rem 0.5rem; /* py-1 px-2 */
    background-color: #b6b6b6; /* bg-gray-100 */
    font-size: 0.875rem; /* text-sm */
    border-bottom: 1px solid black;
}
  
@media (min-width: 768px) { /* md breakpoint */
    .product-list-header {
        display: grid;
    }
}
  
/* Individual product item */
.product-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* grid-cols-[1fr_3fr_1fr] */
    align-items: center; /* items-center */
    gap: 0.5rem; /* gap-2 */
    padding: 0.25rem 0.5rem; /* py-1 px-2 */
    border-bottom: 1px solid black; /* border */
    font-size: 0.875rem; /* text-sm */
}
  
@media (min-width: 768px) { /* md breakpoint */
    .product-item {
        grid-template-columns: 1fr 3fr 1fr 1fr 1fr; /* md:grid-cols-[1fr_3fr_1fr_1fr_1fr] */
    }
}
  
/* Product image */
.product-image {
    width: 3rem; /* w-12 */
}

/* Action column styling */
.product-action {
    cursor: pointer;
    color: red;
}

@media (min-width: 768px) { /* md breakpoint */
    .product-action {
        text-align-last: right;
        height: 25px;
        width: 25px;
        margin-left: 4px;
    }
}

/* Action header styling */
.action-header {
    text-align: center; /* text-center */
}
