/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 450px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

/* Remove point form */
.sidebar nav ul {
    list-style: none;
    padding: 0;
}

/* Margin between each category */
.sidebar nav ul li {
    margin: 20px 0;
}

/* Button styles to mimic <a> */
.sidebar nav ul li button {
    all: unset; /* Reset button styles */
    text-decoration: none;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.main-option {
    font-size: 25px;
}

/* Target the buttons inside the sub-options on hover */
.sub-options li button:hover {
    font-size: 10px; /* Adjust size if needed */
    cursor: pointer; /* Ensure pointer cursor */
    transition: 0.3s, font-size 0.3s; /* Smooth transition */
}
/* Product Section */
.product-grid {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.product-card {
    position: relative;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-card img {
    width: 100%;
    display: block;
}

/* Ensure the main content takes up the full height of the page */
.main-con {
    display: flex;
    height: 100vh; 
    flex-direction: column; 
    padding: 20px;
  }
  
  /* .cancellation-info should take up all available space */
  .cancellation-info {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-self: center; 
    text-align: center;
    padding: 2rem;
    flex-grow: 1; 
    width: 100%; 
  }
  
  .cancellation-image {
    max-width: 400px; 
    width: 100%;
    margin-bottom: 1rem;
    font-size: 30px;
  }
  