.navbar{
    display: flex;
    justify-content:space-around;
    padding: 5px 15px 5px 15px;
    box-shadow: 0 1px 3px -2px black;
    height: 60px;
    border-bottom: 1px solid black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #17A375;
}

.nav-account-cart-wishlist{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(236, 81, 53);
    color: white;
}

.nav-wishlist-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    margin-left: -40px;
    border-radius: 11px;
    font-size: 14px;
    background: rgb(236, 81, 53);
    color: white;
}

.profile-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    flex-direction: column; /* Stack items vertically */
    gap: 5px; /* Add space between items */
    display: flex;
}

.dropdown a {
    padding: 8px 16px;
    color: #626262;
    text-decoration: none;
    border-radius: 5px; /* Optional rounded corners */
    white-space: nowrap; /* Prevent text wrapping */
    display: inline-block; /* Ensure it behaves like a single block */
}

.dropdown a:hover {
    background-color: #f0f0f0;
}